.imageCard {
  &.card {
    border: none;

    .card-body {
      padding: 0;

      .card-title h3 {
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        margin-bottom: 0;
        margin-top: 12px;
      }
    }

    .imageCard__wrapper {
      position: relative;
      cursor: pointer;

      &:hover .imageCard__wrapper--hover {
        height: 100%;
      }

      .imageCard__wrapper--hover {
        position: absolute;
        background-color: rgba($color: #000000, $alpha: 0.6);
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;

        height: 0;

        // padding: 10px;
        transition: all .3s ease-in-out 0s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p.imageCard__wrapper--subTitle {

          padding: 30px 20px;
          color: #fff;
          font-size: 16px;
          text-align: justify;
          line-height: 1.5;
        }
      }
    }
  }


  .card-img.imageCard-img {
    width: 100%;
    height: 25vw;
    object-fit: cover;
  }

  @media only screen and (max-width: 991.5px) {
    .card-img.imageCard-img {
      height: 28vw;
    }

    p.imageCard__wrapper--subTitle {}
  }

  @media only screen and (max-width: 767.5px) {
    .card-img.imageCard-img {
      height: 45vw;
    }
  }
}